#landingPageText {
    font-style: italic;
    background-color:rgb(244, 244, 231);
    border-style: groove;
    border: solid black;
    margin: 4px;
    padding: 0.5rem 0.5rem;
    max-width: 500px;
    box-shadow: 4px 4px 10px 0.5px rgb(0, 0, 0);
}
.links {
    background-color:rgb(244, 244, 231);
    border-style: groove;
    border: solid black;
    padding: 3px;
    border-radius: 10%;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    box-shadow: 4px 4px 10px 0.5px rgb(0, 0, 0);
}
p {
    font-weight: bold;
}